<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Home</a>
      <!-- boton para precargar Modulos individuales como profile o auth -->
      <a mat-list-item routerLink="/profile" (mouseover)="cargarModulo('profile')">Profile</a>
      <a mat-list-item routerLink="/auth" (mouseover)="cargarModulo('auth')">Login</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Carga Perezosa y Sistemas de Precarga de Modulos en Angular</span>
      <!-- boton para precargar Modulos individuales como profile o auth -->

      <!-- aca los reemplace y los coloque mas arriba... -->
      <!-- <button (click)="cargarModulo('profile')">Cargar profile</button> -->
      <!-- <button (click)="cargarModulo('auth')">Precargar Modulo Auth</button> -->
      <!-- boton para precargar todos los modulos de la aplicacion -->
      <button mat-button color="warn" (click)="cargarTodosLosModulos()">Cargar todos los modulos</button>
    </mat-toolbar>
    <!-- Add Content Here -->
<!-- SISTEMA ENRUTADO DE MODULOS CARGADOS DE FORMA PEREZOSA -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
